<footer>
    <address>
        Strana Ingineriei nr. 19 Bucuresti , sector 6 , Romania
        <%- locals.optiuniMeniu %>
    </address>
    <a href="mailto:Technexus@gmail.com">Trimite un mail</a>
    <a href="tel:+0771220331">Numar Telefon</a>
    <a href="skype:Tech.Nexus">Skype</a>
    <a href="https://wa.link/211fhx">Whatsapp</a>
    <a href="https://goo.gl/maps/qJ57gDqiLzU5ix4V8" target="_blank">Locatie</a>
      
<p id="banner">Acesta este un proiect scolar <button id="ok_cookies">Ok</button> </p>
<p id="watermark">Copyright Matea Marian</p>
</footer>